# Important:
# Do not use simple or double quotations


# Path to PLSQL code
PLSQL_PATH=/Users/myuser/omega/plsql

# Developer schema setup
DB_SERVICE_NAME=DIAOMEGA
DB_HOST=maisi.om.do
DB_USER=WDELACRUZ
DB_PASSWORD=temp
DB_PORT=1521

# This information has to be provided by DBA Team
DB_ADMIN_USER=sys
DB_ADMIN_PASSWORD=SYSPassword
DB_DEFAULT_TABLE_SPACE=OMEGA_DATA
DB_TEMP_TABLE_SPACE=TEMP_TBS
DB_MAIN_SCHEMA=OMEGA

# Setup you git información
GIT_NAME=Wilowayne De La Cruz
GIT_EMAIL=wdelacruz@viva.com.do
